.bgSpace {
  background-image: url("/images/bg-header.png");
  background-size: cover;
  background-position: center;
}

.portal {
  display: block;
  animation: rotate 3s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
